[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim.git
[submodule "nvim/kickstart.nvim"]
	path = nvim/.config/nvim/kickstart.nvim
	url = https://github.com/nvim-lua/kickstart.nvim.git
[submodule "kickstart.nvim/.config/neovim/kickstart.nvim"]
	path = kickstart.nvim/.config/neovim/kickstart.nvim
	url = https://github.com/nvim-lua/kickstart.nvim
[submodule "nvim/.config/neovim"]
	path = nvim/.config/neovim
	url = https://github.com/neovim/neovim
[submodule "ruby.nvim/.config/neovim/kakvim"]
	path = ruby.nvim/.config/neovim/kakvim
	url = https://github.com/kuntoaji/kakvim
[submodule "TangyOrigami/kickstart.nvim"]
	path = TangyOrigami/kickstart.nvim
	url = https://github.com/TangyOrigami/kickstart.nvim
